SNOWFLAKE_ACCOUNT=your_account_identifier
SNOWFLAKE_USER=muahmed
SNOWFLAKE_PASSWORD=7338.Incorrect
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_DATABASE=US_OPEN_CENSUS_DATA__NEIGHBORHOOD_INSIGHTS__FREE_DATASET
SNOWFLAKE_SCHEMA=PUBLIC

SCHEMA_INDEX_PATH=./.cache/schema_index
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
